@font-face {
  font-family: 'mplus-1mn';
  src: url('./assets/fonts/mplus-1mn/mplus-1mn-light.ttf')
       format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'mplus-1mn';
  src: url('./assets/fonts/mplus-1mn/mplus-1mn-regular.ttf')
       format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mplus-1mn';
  src: url('./assets/fonts/mplus-1mn/mplus-1mn-bold.ttf')
       format("truetype");
  font-weight: 600;
  font-style: normal;
}
