@import '../../styles/palette';
$cell-height: 26px;


.cell {
  position: relative;
  height: $cell-height;
  border: 1px solid $table-border;
  cursor: pointer;
  vertical-align: bottom;
  user-select: none;

  &:focus {
    outline: none;
    // background-color: red !important;
  }

  // &.teaser {
  //   box-shadow: 0px 0px 0px 1px transparentize($table-teaser, .2) inset;
  // }
  &.node-focus {
    box-shadow: 0px 0px 0px 1px transparentize($table-active, .3) inset;
  }
  &.node-tease {
    box-shadow: 0px 0px 0px 1px transparentize($table-teaser, .5) inset;
  }
  &.focus {
    box-shadow: 0px 0px 0px 1px $table-active inset;
  }
  &:hover {
    box-shadow: 0px 0px 0px 1px $table-teaser inset;
  }
  // &.active {
  //   box-shadow: 0px 0px 0px 1px transparentize($table-active, .4) inset;
  // }
  // &.active.enhanced {
  //   outline: 1px solid $table-active;
  // }
  // &:active {
  //   box-shadow: 0px 0px 0px 1px $table-click inset;
  // }
  &.node-enhance {
    // outline: 1px solid $b_cyan;
    box-shadow: 0px 0px 0px 2px $b_cyan inset;
  }
  &.copied:before {
    content: ' ';
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -1px;
    right: 0;
    border: 1px dashed $b_blue;
  }
  &.copied.active:before {
    border-color: lighten($b_blue, 10);
  }

  div:focus, span:focus {
    outline: none;
  }

  // type
  &.search-collection,
  &.object-collection {
    font-weight: 600;
    text-align: right;
    background-color: lighten($bg, 12);
    cursor: move;
  }
  &.index {
    font-weight: 200;
    text-align: right;
    color: $white;
  }
  &.predicate {
    font-weight: 400;
    background-color: lighten($bg, 8);
  }
  &.object {
    font-weight: 200;
  }

  // enhance button
  // button {
  //   background: none;
  //   border: none;
  //   position: absolute;
  //   top: 0;
  //   right: 4px;
  //   padding: 0;
  //   color: $b_white;
  //   cursor: pointer;
  // }
  // button:hover {
  //   color: white;
  // }
  // button:focus {
  //   outline: none;
  // }

  // body
  .cell-body {
    padding: 6px 18px 2px 8px;
  }
  .cell-body {
    min-width: 27px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.enhanced .cell-body {
    max-width: none;
  }

  // edit-value
  .edit-value {
    font-family: $monospace;
    background: none;
    border: 0;
    // border-bottom: 1px solid $table-active;
    color: lighten($text-color, 10);
    height: 14px;
    width: 100%;
  }
  .edit-value:focus {
    outline: none;
  }
}


