@import '../../styles/palette';

.search-input {
  width: 200px;
  padding: 6px 8px;

  .search-line {
    content: "";
    display: table;
    clear: both;

    .search-label {
      text-align: left;
      float: left; // TODO - try to remove when no longer using table layout
      margin-right: 12px;
      font-weight: 400;
    }

    .search-value {
      color: $b_blue;
      text-align: left;
      float: left; // TODO - try to remove when no longer using table layout
      font-weight: 400;
      em.disabled {
        color: lighten($white, 15);
      }
    }
  }
}
