@import '../../styles/palette';

.search-input {
  display: grid;
  grid-template-columns: 42px 1fr;
  height: 100%;
  line-height: 22px;
  background-color: lighten($bg, 12);
  border: 1px solid $b_blue;
  padding: 6px 8px;

  &.invalid {
    border-color: $b_red;
  }

  .search-label {
    color: lighten($white, 30);
    text-align: right;
    margin-right: 6px;
    font-weight: 400;
  }
}
