@import '../../styles/palette';

.cell-value {
  &.error {
    color: $b_red;
  }
  &.pending {
    padding-left: calc(18px - 0.3rem); // must match the difference bt/ right padding and left padding of Cell
  }
  &.non-existent {
    color: $white;
    text-align: center;
  }
  &.multi small {
    font-size: 8px;
    color: lighten($white, 10);
    padding-left: 6px;
  }

  .literal-value-collection {
    text-align: left;

    .value {
      color: $b_white;
      padding-left: 10px;
    }
  }
}
