@import '../../styles/palette';


.autocomplete {
  position: relative;
  width: 120px;
  float: left; // TODO - try to remove when no longer using table layout
  font-weight: 400;
  text-align: left;

  .value {
    padding: 0 8px;
    color: $b_blue;
  }

  .placeholder {
    color: lighten($white, 15);
    font-style: italic;
  }

  .input-field {
    padding: 0 8px;
    text-align: left;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(200,200,200,0.1) inset;
  }

  .autocomplete-loading {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .autocomplete-error {
    color: $b_red;
  }

  .autocomplete-content {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: lighten($bg, 5);
    border: 1px solid lighten($bg, 20);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);

    ul.autocomplete-empty-list {
      padding: 0 6px;
      color: $white;
      text-align: center;
    }
  }
}
